@import url('https://fonts.googleapis.com/css2?family=Shafarik&display=swap');
@import 'tailwindcss';

@theme {
  --font-display: 'Shafarik', serif;
}

html,
body,
#app {
  height: 100%;
  @apply bg-emerald-900;
}

#app {
  background:
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('./assets/flowers.jpg');
  background-repeat: repeat;
}

pre,
p {
  @apply font-sans text-lg;
}

p {
  @apply mb-1 leading-relaxed indent-6 text-justify;
}
