@import url('https://fonts.googleapis.com/css2?family=Shafarik&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import 'tailwindcss';

@theme {
  --font-display: 'Shafarik', serif;
  --font-sans: 'Zain', serif;
}

html,
body,
#app {
  height: 100%;
  @apply bg-emerald-900;
}

#app {
  background:
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('./assets/flowers.jpg');
  background-repeat: repeat;
}

pre,
p {
  @apply font-sans text-2xl;
}

p {
  text-indent: 2rem;
}
